.signUpWrapper {
  width: 60%;
  margin: auto;
  padding: 70px 0px;
}
.inputField {
  border: none;
  border-bottom: 2px solid rgb(17, 228, 200);
  border-radius: unset;
}
.inputField:focus {
  border: none;
  outline: none !important;
}
.buttonSignUp {
  margin: auto;
  width: 90%;
  position: absolute;
  background-color: IndianRed;
  border: none;
  outline: none;
  color: white;
}
.errorMsg {
  color: #d8000c;
}
