.mainBackground {
  background-color: rgba(17, 17, 17, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}
.cartBackground {
  margin: 0px 0px;
  /* opacity: 0.2; */
  position: absolute;
  width: 30%;
  right: 5%;
  /* margin-top: 15%; */
  /* top: 15%; */
  bottom: 0;
  height: 90%;
  display: flex;

  flex-direction: column;
  background-color: white;
}
.cartContent {
  overflow-y: scroll;
  background-color: rgb(245, 241, 241);
  /* height: auto; */
  flex-grow: 1;
  max-width: 100%;
  overflow-x: hidden;
}
.lowestPrice {
  display: flex;
  margin-top: 10px;
  background-color: white;
}

.cartHeader {
  display: flex;
  background-color: black;
  color: white;
}
.closeIcon {
  margin-left: auto;
  margin-right: 12px;
  cursor: pointer;
}
.itembox {
  display: inline-block;
  line-height: 15px;
  font-size: 12px;
  font-weight: bold;
}

.itembox div {
  display: flex;
}
.rowItem {
  background-color: white;
}
.rowItem.row {
  margin-top: 10px;
}
.checkOut {
  margin: auto;
  width: 90%;
  position: absolute;
  background-color: IndianRed;
  border: none;
  outline: none;

  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 65%);
}
.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.itemtotalCost {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.counterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  background-color: IndianRed;
}

.emptyCart {
  height: 90%;
  text-align: center;
  padding: 50% 0;
}
.mainEmptyCart {
  height: 100%;
  background-color: white;
}
.mainEmptyCart button {
  margin: 0;
  position: absolute;
  background-color: IndianRed;
  border: none;
  outline: none;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 65%);
}

@media only screen and (max-width: 1024px) {
  .cartBackground {
    margin: 0px 0px;
    /* opacity: 0.2; */
    position: absolute;
    width: 100%;
    right: 0%;
    /* margin-top: 15%; */
    /* top: 15%; */
    bottom: 0;
    height: 90%;
    display: flex;

    flex-direction: column;
    background-color: white;
  }
  .cartHeader {
    display: flex;
    background-color: white;
    color: black;
    margin-top: 12px;
  }
  .emptyCart {
    height: 50%;
    text-align: center;
    padding: 20% 0;
  }
  .mainEmptyCart {
    /* height: 50%; */
    background-color: white;
  }
  .mainEmptyCart button {
    margin: 0;
    position: absolute;
    background-color: IndianRed;
    border: none;
    outline: none;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -155%);
  }
}
