.loginWrapper {
  width: 60%;
  margin: auto;
  padding: 40px 0px;
}
.inputField:focus {
  box-shadow: none;
  border-bottom: 2px solid rgb(17, 228, 200);
  border-radius: unset;
}
.inputField {
  border-bottom: 2px solid rgb(159, 158, 161);
}

.buttonLogin {
  margin: auto;
  width: 90%;
  position: absolute;
  background-color: IndianRed;
  border: none;
  outline: none;
  color: white;
  /* left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 65%); */
}
.errorMsg {
  color: #d8000c;
}
